$primary: #5265E1;
$secondary: #FA5959;

body{
    font-family: sans-serif;
}
button{    
    border: none;
    height: 45px;
    font-size: 0.8rem;
}
section p{
    color: rgb(145, 148, 161);
    margin: 4% 10% 4% 0;
    font-size: 1.1rem;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 10px 110px 10px;
}
.nav li a {
    letter-spacing: 1px;
}
.nav-item a{
    color: rgb(37, 43, 70);
    font-size: 0.8rem;
    font-family: sans-serif;
}
.btn.btn-danger{
   background-color: $secondary;
   font-size: 0.8rem;
   width: 110px;
   letter-spacing: 2px;
   height: 38px;
   margin-left: 15px;
}
.left-1{
    padding: 6% 6%;
}
.blue-btn{
    width: 150px;
    font-size: 0.8rem;
    background-color: $primary;
    color: white;
    border-radius: 5px;
}
.get{
    width: 150px;
    font-size: 0.8rem;
    box-shadow: 3px 3px 5px rgb(200, 201, 208);
    border-radius: 5px;
    margin-left: 15px;
}
.content.col-5{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
} 
.blue-bg-right{
    width: 700px;
    height: 350px;
    background-color: $primary;
    margin-left: 160px;
    margin-top: -320px;
    border-radius: 150px 0 0 150px;
}
 article p{
    color: rgb(145, 148, 161);
    font-size: 1.1rem;
}
.blue-bg-left{
    background-color: $primary;
    width: 400px;
    height: 350px;
    margin-top: -250px;
    margin-left: -125px;
    border-radius: 0 0 150px 0;
}
#myTab{
    display: flex;
    gap: 40px;
    width: 600px;
    margin: auto;
    margin-bottom: 80px;
}
article.nav-item {
    border-bottom: none;
}
.nav-tabs .nav-link.active{
    border-bottom: solid 3px $secondary;
}
$nav-tabs-link-active-border-color: none;
$nav-tabs-link-hover-border-color: none;

.container-cards{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
    gap: 30px;
}
.card-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
    height: 350px;
    gap: 10px;
    padding:5px;
    padding-bottom: 20px;
    box-shadow: 0px 10px 13px -2px rgba(97, 98, 102, 0.13);
    border-radius:10px;
}
.dots{
    margin-bottom: 15px;
}
.card-icons-two{
    margin-top: 50px;
}
.card-icons-three{
    margin-top: 100px;
}
.blue-btn-extension{
    width: 80%;
    font-size: 0.8rem;
    background-color: $primary;
    color: white;
    border-radius: 5px;   
}
.container.accordion, #collapseFour{
    width: 600px;
    margin-bottom: 80px;
}
.accordion-button{
    height: 60px;
}
.accordion-header{
    border-top: 1px solid #dee2e6;
}
#headingFour{
    border-bottom: 1px solid #dee2e6;
}
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: black;
$accordion-button-icon: url(/images/icon-arrow.svg);
$accordion-border-width: 0px;

.btn.btn-accordion, .btn-primary{
    margin-top: 40px;
    width: 100px;
    font-size: 0.8rem;
    background-color: $primary;
    color: white;
    border-radius: 5px;
}
.content-footer.col-4{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    color: white;
}
.content-footer.col-4 p{
    letter-spacing: 3px;
}
.bg-footer{
    background-color: $primary;
    height: 600px;
}
.form-control-lg{
    width: 500px;
    background-color: #FA5959;
}
$input-font-size-lg: 1rem;



@import "../node_modules/bootstrap/scss/bootstrap";