$primary: #5265E1;
$secondary: #FA5959;

body{
    font-family: sans-serif;
}
button{    
    border: none;
    height: 45px;
    font-size: 0.8rem;
}
section p{
    color: rgb(145, 148, 161);
    margin: 4% 10% 4% 0;
    font-size: 1.1rem;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

}
.nav li a {
    letter-spacing: 1px;
}
.nav-item a{
    color: rgb(37, 43, 70);
    font-size: 0.8rem;
    font-family: sans-serif;
}
.btn.btn-danger{
   background-color: $secondary;
   font-size: 0.8rem;
   width: 110px;
   letter-spacing: 2px;
   height: 38px;
   margin-left: 15px;
}
.left-1{
    padding: 6% 6%;
}
.blue-btn{
    background-color: $primary;
    color: white;
    margin-right: 15px;
}
.get{
    width: 150px;
    font-size: 0.8rem;
    box-shadow: 3px 3px 5px rgb(200, 201, 208);
    border-radius: 5px;
}
.hero-img{
    margin-left: 50px;
}
.blue-bg-right{
    width: 800px;
    height: 380px;
    background-color: $primary;
    margin-left: 100px;
    margin-top: -320px;
    border-radius: 150px 0 0 150px;
}

.container.text{
    padding: 5% 15% 3% 15%;
    text-align: center;
}
 article p{
    color: rgb(145, 148, 161);
    font-size: 1.1rem;
 }


@import "../node_modules/bootstrap/scss/bootstrap";